#div1 {
    border: 3px solid;
    background-color: red;
    margin: 5px 0px;
}

#div2 {
    border: 3px solid;
    background-color: yellow;
    margin: 5px 0px;
}

#div3 {
    border: 3px solid;
    background-color: green;
    margin: 5px 0px;
}